@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color : white;
    height: 100vh;
    box-sizing: border-box;
}

.strong-h1-titulo-destac {
    color: #22D4FD;
}
.presentacion {
    display: flex;
    align-items: center;
    margin: 10%;
    justify-content: space-between;
}
.presentacion-contenido {
    width: 615%;
}
.presentacion-contenido-titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.presentacion-contenido-texto{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}
.presentacion-enlaces {
   display: flex; 
   justify-content: space-between;
}
.presentacion-enlaces-link {
    width: 280px;
    background-color: #22D4FD;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.imagen-principal {
    width: 300px;
    margin-left: 5%;
}
