:root {
  background: linear-gradient(174.61deg, #041833 4.16%, #04244F 48%, #154580 96.76%);
  min-height: 100vh;
}

.header {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;

  img {
    width: 212px;
  }
}